<style scoped>
h1, h2 {
  font-weight: normal;
}

.hello {
  padding: 5em;
  outline: 2px dashed white;
  outline-offset: -10px;
  background: blue;
  color: white;
}
</style>

<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.jssss'
    }
  }
};
</script>
