<style scoped>
	.second {
		margin: 0px;
		outline: 2px dashed black;
		outline-offset: -10px;
		padding: 5em;
		background: lightblue;
		color: #FFF;
	}

	p {
		font-family: arial, sans-serif;
	}
</style>

<template>
	<div class="second">
		<p>{{ message }}</p>
	</div>
</template>

<script>
	export default {
		name: 'secondcomponent',
		data () {
			return {
				message: 'this is a  simple message'
			}
		}
	};
</script>